# dependencies
node_modules/
.pnpm-store/

# builds
.next/
dist/
out/
.turbo/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# uploaded files (local StorageProvider)
storage/uploads/

# prisma generated client
packages/db/src/generated/

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# tests
coverage/
playwright-report/
test-results/
